
body{
    background-color: rgb(143, 130, 130);
}
#main a{
    text-decoration: none;
    float: right;
    width: 100px;
    color: black;
    margin-top: 10px;
    font-style:inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}

#main a:hover{
    color: brown;
}
    
footer{
    text-align: center;
    
    
}